{% extends 'flatpages/default.html' %}

{% block content %}
{% if not user.profile.is_confirmed %}
    <h5>{{user.username|capfirst}}, введите код подтверждения который пришел Вам на почту</h5>
  <div class="col-1">
    <form action="" id="verify" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button form="verify" type="submit" class="btn btn-success">Подтвердить</button>
    </form>
  </div>
    <br>
    <h5>{{message}}</h5>
{% else %}
    <p>Ваш аккаунт уже подтвержден</p>
{% endif %}

{% endblock content %}